.videoCard{
    /* position: absolute; */
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    border: 1px black solid;
    /* cursor: pointer; */
}
.videoCard__player{
    position: relative;
    top: -18%; 
     margin: 0;
    cursor: pointer;
    object-fit:fill;
    height: 100%;
    width: 100%;
/* position: relative; */
}
.show{
    
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    font-size: 7rem;
    cursor: pointer;
    opacity: 0.5;
    z-index: 1000;
}
.dont-show{
    /* color: white;
    position: relative; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    /* font-size: 7rem;
    cursor: pointer;
    opacity: 0; */
    z-index:-1;

}



