.videoCard{
    /* position: absolute; */
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    border: 1px black solid;
    /* cursor: pointer; */
}
.videoCard__player{
    cursor: pointer;
    object-fit:fill;
    height: 100%;
    width: 100%;
/* position: relative; */
}
.show{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 7rem;
    cursor: pointer;
    opacity: 0.5;
}
.dont-show{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 7rem;
    cursor: pointer;
    opacity: 0;
    display: none;

}



